.wrapper
  = render 'groups/side_bar'
  .chat
    .header
      .now_groupname
        %h3
          sampleグループ
      .member
        %h3
          Member: aaa bbb ccc
    .message-box
      .message_area
        = render @messages
      .post-box
        = form_for [@group,@message] do |f|
          = f.text_field :content, class: 'text', placeholder: 'type a message'
          .image_form
            = f.label :image do
              %i.fa.fa-image
                = f.file_field :image, class: 'hiden'
          = f.submit 'Send', class: 'send'
